__pycache__/
*.pyc
.mypy_cache
.pytest_cache
.venv
.vscode
htmlcov
.coverage
logs
debug.py
files/* 
!files/input/
files/input/**
!files/input/.gitkeep
!files/output/
!files/uncategorised/
!files/*.json
